

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  position: fixed;
  top: 1;
  left: 0;
  height: 100%;
  width: 240px;
  z-index: 1;
  padding: 0;
  text-align: center;
}

/* Custom CSS for cards */
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
}

.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.custom-card .card-body {
  position: relative;
  padding: 1.5rem;
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.custom-card .card-text {
  font-size: 2rem;
  font-weight: 500;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
